[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=8
subdivisions=1
width=640
height=640
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.00261
burn_in=1000

max_batches = 2000200
policy=steps
steps=1600000,1800000
scales=.1,.1


# 0
[convolutional]
batch_normalize=1
filters=40
size=3
stride=1
pad=1
activation=swish


# 1
[convolutional]
batch_normalize=1
filters=80
size=3
stride=2
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=80
size=3
stride=1
pad=1
activation=swish


# 3
[convolutional]
batch_normalize=1
filters=160
size=3
stride=2
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 14
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish


[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=swish

[route]
layers=-3

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=160
size=3
stride=2
pad=1
activation=swish

# 20
[route]
layers = -1,-4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 31
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish


[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish

[route]
layers=-3

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=320
size=3
stride=2
pad=1
activation=swish

# 37
[route]
layers = -1,-4

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 48
[convolutional]
batch_normalize=1
filters=1280
size=1
stride=1
pad=1
activation=swish


[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish

[route]
layers=-3

[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=640
size=3
stride=2
pad=1
activation=swish

# 54
[route]
layers = -1,-4

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 65
[convolutional]
batch_normalize=1
filters=1280
size=1
stride=1
pad=1
activation=swish

##################################

### SPPCSP ###
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish

[route]
layers = -2

[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=640
activation=swish

[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish

### SPP ###
[maxpool]
stride=1
size=5

[route]
layers=-2

[maxpool]
stride=1
size=9

[route]
layers=-4

[maxpool]
stride=1
size=13

[route]
layers=-6,-5,-3,-1
### End SPP ###

[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=640
activation=swish

[route]
layers = -1, -13

# 80
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish


[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish

[upsample]
stride=2

[route]
layers = 48

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish

[route]
layers = -1,-3


[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 96
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish


[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=swish

[upsample]
stride=2

[route]
layers = 31

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=swish

[route]
layers = -1,-3


[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 112
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=swish


[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=swish

[route]
layers=-3

[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=160
size=3
stride=2
pad=1
activation=swish

[route]
layers = -1,-4,96


[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 129
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish


[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish

[route]
layers=-3

[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=320
size=3
stride=2
pad=1
activation=swish

[route]
layers = -1,-4,80


[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=swish

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=swish

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=swish

[route]
layers = -1,-3,-5,-7,-9

# 146
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=swish

#############################

# ============ End of Neck ============ #

# ============ Head ============ #


# P3
[route]
layers = 112

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=320
activation=swish

[convolutional]
size=1
stride=1
pad=1
filters=255
#activation=linear
activation=logistic

[yolo]
mask = 0,1,2
anchors = 12,16, 19,36, 40,28, 36,75, 76,55, 72,146, 142,110, 192,243, 459,401
classes=80
num=9
jitter=.1
scale_x_y = 2.0
objectness_smooth=1
ignore_thresh = .7
truth_thresh = 1
#random=1
resize=1.5
iou_thresh=0.2
iou_normalizer=0.05
cls_normalizer=0.5
obj_normalizer=1.0
iou_loss=ciou
nms_kind=diounms
beta_nms=0.6
new_coords=1
max_delta=2


# P4
[route]
layers = 129

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=640
activation=swish

[convolutional]
size=1
stride=1
pad=1
filters=255
#activation=linear
activation=logistic

[yolo]
mask = 3,4,5
anchors = 12,16, 19,36, 40,28, 36,75, 76,55, 72,146, 142,110, 192,243, 459,401
classes=80
num=9
jitter=.1
scale_x_y = 2.0
objectness_smooth=1
ignore_thresh = .7
truth_thresh = 1
#random=1
resize=1.5
iou_thresh=0.2
iou_normalizer=0.05
cls_normalizer=0.5
obj_normalizer=1.0
iou_loss=ciou
nms_kind=diounms
beta_nms=0.6
new_coords=1
max_delta=2


# P5
[route]
layers = 146

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1280
activation=swish

[convolutional]
size=1
stride=1
pad=1
filters=255
#activation=linear
activation=logistic

[yolo]
mask = 6,7,8
anchors = 12,16, 19,36, 40,28, 36,75, 76,55, 72,146, 142,110, 192,243, 459,401
classes=80
num=9
jitter=.1
scale_x_y = 2.0
objectness_smooth=1
ignore_thresh = .7
truth_thresh = 1
#random=1
resize=1.5
iou_thresh=0.2
iou_normalizer=0.05
cls_normalizer=0.5
obj_normalizer=1.0
iou_loss=ciou
nms_kind=diounms
beta_nms=0.6
new_coords=1
max_delta=2
