*.o
*.a
*.dSYM
*.csv
*.out
*.png
*.so
*.exe
*.dll
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
build/darknet/*
build_*/
!build/darknet/YoloWrapper.cs
.fuse*
*.weights

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# IDE generated #
.vs/
.vscode/

lib/
include/
share/
