*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
/.vs/darknet3/v15/ipch/AutoPCH/a1a9de2f/DATA-c6754b5/DATA.ipch
/.vs
